<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
	<distributable/>
	<context-param>
		<param-name>configDir</param-name>
		<param-value>WEB-INF/config</param-value>
	</context-param>
	<context-param>
		<param-name>logDir</param-name>
		<param-value>WEB-INF/log</param-value>
	</context-param>
	<servlet>
		<servlet-name>DefaultInit</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.servlet.DefaultInit</servlet-class>
		<init-param>
			<param-name>initDebugLevel</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AsyncProcessor</servlet-name>
		<servlet-class>com.jcorporate.expresso.services.asyncprocess.AsyncServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DBCreate</servlet-name>
		<servlet-class>com.jcorporate.expresso.services.servlet.DBCreate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DefaultViewHandler</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.servlet.viewhandler.DefaultViewHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XMLViewHandler</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.servlet.viewhandler.XMLViewHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExcelViewHandler</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.servlet.viewhandler.ExcelViewHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PathHandler</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.servlet.PathHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.servlet.Test</servlet-class>
	</servlet>
	<!-- Cactus Servlet Configuration -->
	<!-- Uncomment to run Cactus Tests 
	<servlet>
		<servlet-name>ServletRedirector</servlet-name>
		<servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.apache.struts.example.ApplicationResources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>validating</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JspRedirector</servlet-name>
		<jsp-file>jspRedirector.jsp</jsp-file>
	</servlet>
	-->
	<!-- Action Servlet Configuration -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>com.jcorporate.expresso.core.controller.ExpressoActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>com.jcorporate.expresso.core.MessagesBundle</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>multipartClass</param-name>
			<param-value>com.jcorporate.expresso.core.misc.upload.Uploader</param-value>
		</init-param>
		<init-param>
			<param-name>tempDir</param-name>
			<param-value>/WEB-INF/temp</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-definitions/expresso-page.xml</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-debug</param-name>
			<param-value>1</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!-- Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PathHandler</servlet-name>
		<url-pattern>/go/*</url-pattern>
	</servlet-mapping>
	<!--
	<servlet-mapping>
		<servlet-name>ServletRedirector</servlet-name>
		<url-pattern>/ServletRedirector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JspRedirector</servlet-name>
		<url-pattern>/JspRedirector</url-pattern>
	</servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>XMLViewHandler</servlet-name>
		<url-pattern>*.xsl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBCreate</servlet-name>
		<url-pattern>/servlet/DBCreate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DefaultViewHandler</servlet-name>
		<url-pattern>/servlet/DefaultViewHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XMLViewHandler</servlet-name>
		<url-pattern>/servlet/XMLViewHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcelViewHandler</servlet-name>
		<url-pattern>/servlet/ExcelViewHandler</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>wml</extension>
		<mime-type>text/vnd.wap.wml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlc</extension>
		<mime-type>application/vnd.wap.wmlc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlscriptc</extension>
		<mime-type>application/vnd.wap.wmlscriptc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jar</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>war</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<taglib>
		<taglib-uri>/expresso</taglib-uri>
		<taglib-location>/WEB-INF/expresso.tld</taglib-location>
	</taglib>
		<taglib>
		<taglib-uri>/logic</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
</web-app>
