<beans	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">
 
	<context:component-scan base-package="com.darwinsys" />

	<!-- We do this one with XML since we don't want Spring-specific
	 *** annotations in the datamodel classes.
	 -->
	<bean id="person" class="com.darwinsys.jwf.model.Person"/>
	
	<!-- These could be marked with @Component instead -->
	<bean id="springBean" class="com.darwinsys.springjsf.SpringBean"/>
 
 	<bean id="personHandler" class="com.darwinsys.springjsf.PersonHandler"/>
</beans>
