<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>

	<display-name>Ian Darwin's Java Web Frameworks - SOFIA</display-name>
	<description>
		Ian Darwin's Java Web Frameworks Catalog site, SOFIA demo.
	</description>

	<servlet>
	    <servlet-name>SalmonPropsPathServlet</servlet-name>
	    <servlet-class>com.darwinsys.servlet.SalmonPropsPath</servlet-class>
	    <init-param>
	    		<param-name>salmon.props.path</param-name>
	    		<param-value>/WEB-INF</param-value>
	    	</init-param>
	    	<load-on-startup/>
	 </servlet>
		
  <servlet>
    <servlet-name>AppServer</servlet-name>
    <servlet-class>com.salmonllc.servlets.AppServer</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Scheduler</servlet-name>
    <servlet-class>com.salmonllc.servlets.Scheduler</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Translator</servlet-name>
    <servlet-class>com.salmonllc.servlets.Translator</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DataServer</servlet-name>
    <servlet-class>com.salmonllc.servlets.DataServer</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Objectstore</servlet-name>
    <servlet-class>com.salmonllc.servlets.Objectstore</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PersonalizationServer</servlet-name>
    <servlet-class>com.salmonllc.servlets.PersonalizationServer</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AppServer</servlet-name>
    <url-pattern>/fw/AppServer</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AppServer</servlet-name>
    <url-pattern>/fw/AppServer/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Scheduler</servlet-name>
    <url-pattern>/fw/Scheduler</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Objectstore</servlet-name>
    <url-pattern>/fw/Objectstore</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Objectstore</servlet-name>
    <url-pattern>/fw/Objectstore/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Translator</servlet-name>
    <url-pattern>/fw/Translator</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Translator</servlet-name>
    <url-pattern>/Translator</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>DataServer</servlet-name>
    <url-pattern>/DataServer/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>DataServer</servlet-name>
    <url-pattern>/fw/DataServer/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>PersonalizationServer</servlet-name>
     <url-pattern>/PersonalizationServer/*</url-pattern>
  </servlet-mapping>

  <taglib>
    <taglib-uri>/taglib.tld</taglib-uri>
    <taglib-location>/WEB-INF/taglib.tld</taglib-location>
  </taglib>

</web-app>
